spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://user_db:3306/user_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initialization-fail-timeout: -1
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect  # hoặc MySQL8Dialect nếu dùng MySQL 8
    show-sql: true

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: user-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port: 8083

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    lease-renewal-interval-in-seconds: 5

logging:
  level:
    root: INFO                           # <-- Thêm để có log banner + starting
    com.uet.longhoanglekim.userservice: DEBUG