
spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3308/user_db
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

server:
  port: 8083

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    lease-renewal-interval-in-seconds: 5
logging:
  level:
    com.uet.longhoanglekim.userservice.*: debug