spring:
    application:
        name: notification-service
    mail:
        host: smtp.gmail.com
        port: 587
        username: hlklonga5@gmail.com
        password: bjczfyqwoliyufck
        properties:
            mail.smtp.auth: true
            mail.smtp.starttls.enable: true
    datasource:
        url: jdbc:mysql://localhost:3307/notification_db
        username: root
        password: 123456

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect
        show-sql: true


server:
    port: 8082

eureka:
    client:
        register-with-eureka: true
        fetch-registry: true
        service-url:
            defaultZone: http://localhost:8761/eureka/
