version: '3.8'
services:
    discovery-service:
        build: ./discovery-service
        container_name: discovery-service
        ports:
            - "8761:8761"
        networks:
            - backend-network

    auth-service:
        build: ./auth-service
        container_name: auth-service
        depends_on:
            - discovery-service
            - auth_db
        ports:
            - "8081:8081"
        environment:
            - SPRING_PROFILES_ACTIVE=docker
        networks:
            - backend-network

    auth_db:
        image: mysql:8
        container_name: auth_db
        environment:
            - MYSQL_ROOT_PASSWORD=123456
            - MYSQL_DATABASE=auth_db
        ports:
            - "3306:3306"
        networks:
            - backend-network
        volumes:
            - ./auth-service/db/init_db.sql:/docker-entrypoint-initdb.d/init.sql

    api-gateway:
        build: ./api-gateway
        container_name: api-gateway
        depends_on:
            - discovery-service
            - auth-service
        ports:
            - "8080:8080"
        networks:
            - backend-network

networks:
    backend-network:
        driver: bridge
