
spring:
  application:
    name: room-service
  data:
    mongodb:
      uri: mongodb+srv://hlklonga5_db_user:spttiOflCUgMPuYE@my-cluster.hme2did.mongodb.net/my-cluster/contract_database
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8085

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    lease-renewal-interval-in-seconds: 5
logging:
  level:
    com.uet.longhoanglekim.contractservice.*: debug

web3:
  rpc-url: https://rpc.sepolia.org
  private-key: ${WEB3_PRIVATE_KEY:}      # set in env
  contract-address: ${STORAGE_CONTRACT_ADDRESS:}  # set after deploy