
spring:
  application:
    name: contract-service
  data:
    mongodb:
      uri: mongodb+srv://hlklonga5_db_user:spttiOflCUgMPuYE@my-cluster.hme2did.mongodb.net/my-cluster
      database: contract_database
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8085

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
  instance:
    lease-renewal-interval-in-seconds: 5
logging:
  level:
    com.uet.longhoanglekim.contractservice.*: debug

blockchain:
  rpc-url: ${SEPOLIA_RPC_URL}
  private-key: ${PRIVATE_KEY}
  account-address: ${ACCOUNT_ADDRESS}