# application.yml của API Gateway
# ----------------------------------------------------------------

server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service # 1. Đổi ID route thành chữ thường
              uri: lb://auth-service # 2. Đổi URI load balancer thành chữ thường
              predicates:
                - Path=/api/auth/**
          # 3. Tắt discovery locator vì đã dùng route tĩnh, tránh cảnh báo lỗi
          discovery:
            locator:
              enabled: false

  application:
    name: api-gateway

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost