
server:
  port: 8080
spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
  application:
    name: api-gateway

security:
  jwt:
    secret-key: ----------------------room-booking-secret-key--------------------
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
